@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela:ital,wght@1,300&Rounddisplay=swap');

body{
  background-image:antiquewhite; 
}
*{
  margin: 0;
  padding: 0;
}
nav{
  font-family:'Ubuntu';
  padding: 4px;
}
nav ul{
  display: flex;
  padding: 2px;
  list-style-type: none;
  height: 55px;
  background-color: rgb(1, 24, 19);
  color: white;
  align-items: center;
}
nav ul li{
  padding: 0 25px;
  float: left;
}
.brand img{
  width: 55px;
  padding: 0 8px ;
  align-items: left;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.2rem;
}
.container{
  min-height: 72vh;
}
.bottom{
  position: sticky;
  height: 98px;
  background-color: black;
  color: white;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 12px 0;
}
.icons{
  margin-bottom:0px;
  padding: 5px;
}
i{
  padding: 5px;
}
#myProgressBar{
  width: 80vw;
  margin-top: 22px;
  padding: 1px;
}