@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela:ital,wght@1,300&Rounddisplay=swap');

body{
  background-color: white; 
  display: grid;
}
*{
  margin: 0;
  padding: 0;
  
}
nav{
  font-family:'Ubuntu';
  padding: 4px;
}
nav ul{
  
  padding: 2px;
  list-style-type: none;
  height: 55px;
  background-color: rgb(1, 24, 19);
  color: white;
  align-items: center;
}
nav ul li{
  padding: 0 25px;
  float: right;
}
.brand img{
  width: 55px;
  padding: 0 8px ;
  align-items: left;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.2rem;
}
.containerpopup{
  min-height: 70vh;
  background-color: black;
  color: white;
  display: flex;
  margin: 85px auto;
  width: 70%;
  
}
.bottom{
  position:sticky;
  height: 130px;
  background-color: black;
  color:white;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  
}
.icons{
  display:inline-flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
}
.icons i{
  cursor: pointer;
  padding: 10px;
}

.moreicons{
  display:flex;
  flex-direction: row;

}
.moreicons p{
  text-align:left;
  width: 10vw; ;
}
.moreicons i{
  align-items: right;
  justify-content: center;
  align-items: right;
  text-align:right;
  width: 90vw; 
  padding-right: 5px ;
  margin-bottom: 2px;
}
#myProgressBar{
  width: 80vw;
}