@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela:ital,wght@1,300&Rounddisplay=swap');
html{
  min-height:100%;
}
body{
    display: flex;
    background-image: radial-gradient(circle, #1d9891, #209a94, #239d97, #269f9b, #29a29e, #279895, #268f8c, #248583, #1d6e6c, #175755, #104140, #0a2d2c);    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding:2px;
    background-attachment: fixed;
}

*{
  margin: 0;
  padding: 0;
  
}
nav{
  font-family:'Ubuntu';
  width:100vw;
  background-color: black;
  display: block;
  height: 60px;
  margin: 4px;
}
nav ul{
  display: revert;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-inline-start: 40px;
  color: white;
  
}
nav ul li{
  padding: 0 25px;
  float: right;
}
.brand img{
  width: 74px;
  padding: 0 6px ;
  align-items: left;
}
.brand {
  display: flex;
  align-items: stretch;
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 1px;
}
.containerpopup{
  min-height: 85vh;
  background-color: black;
  color: white;
  display: flex;
  margin: 85px auto;
  width: 70%;
  
}
.bottom{
  position:sticky;
  height: 130px;
  background-color: black;
  color:white;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  margin: 8px;
}
.icons{
  display:inline-flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
}
.icons i{
  cursor: pointer;
  padding: 10px;
}

.moreicons{
  display:flex;
  flex-direction: row;
  width:98vw ;
  
  
}
.moreicons p{
  text-align:left;
}
.moreicons i{
  align-items: right;
  justify-content: center;
  align-items: right;
  text-align:right;
  width: 88vw; 
  padding-right: 5px;
  margin-bottom: 2px;
  
}
#myProgressBar{
  width: 80vw;
}